@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body {
    background: #F4DDC8;
    background-image: url(https://images2.imgbox.com/d0/ec/ZOt82grw_o.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    scrollbar-width: none
    }
html {
    scrollbar-width: none
    }
#sb_side, #sb_top, #sb_bottom, #aio_sidebar_placeholder, #page_banner, #page_event, #page_footer, hr {
    display: none
    }
#page_content {
    margin: auto;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0
    }
#userLookupContent {
    width: 680px;
    margin-top: 150px;
    align-items: center;
    justify-content: center
    }
.ul--header {
    font-size: 0;
    right: 0;
    left: 0;
    margin-top: -110px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 527px;
    content: url(https://images2.imgbox.com/ec/89/TGmYNmGt_o.png)
    }
#userLookupDesc {
    background-color: #fff;
    color: #9C9C9C;
    font-size: 12px;
    border-radius: 10px;
    width: 660px;
    padding: 10px;
    margin-top: 100px
    }
#userLookupDesc a {
    color: #CE92EF;
    font-family: "Poetsen One", sans-serif;
    font-size: 34px;
    font-weight: normal
    }
#userLookupDesc a:hover, #userLookupInfo a:hover {
    color: #E6CEF4
    }
#userLookupInfo {
    display: flex;
    align-content: start;
    align-items: start;
    background-color: #fff;
    background-image: url(https://images2.imgbox.com/b5/ce/s9nNQ4dw_o.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    color: #9C9C9C;
    font-size: 12px;
    width: 660px;
    border-radius: 10px;
    padding: 10px
    }
#userLookupInfo a {
    color: #CE92EF;
    font-size: 16px;
    font-family: "Poetsen One", sans-serif;
    letter-spacing: 0.1em
    }
#userLookupText {
    margin-top: 0;
    margin-left: 10px;
    max-width: 400px
    }
.galleries--list .nomargin {
    height: 0
    }
#userLookupShield {
    width: 200px
    }
#userLookupShield img {
    display: none
    }
#userLookupCollections {
    flex-direction: row;
    height: auto
    }
.ul__collection, .ul__avatars {
    width: 50px
    }
.ul--collectionslabel {
    display: none
    }
#userLookupCollections img {
    width: 50px
    }
.ul--avatarstext, .ul--stampstext {
    font-size: 10px
    }
#userLookupLinks {
    width: 660px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px
    }
.ul__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 10px
    }
#userLookupLinks img, .ul--neofriendimg {
    width: 80px;
    height: 80px;
    mix-blend-mode: multiply;
    transform: scale(1);
    transition: all 1s ease
    }
#userLookupLinks img:hover, .ul--neofriendimg:hover {
    opacity: 0.4;
    transform: scale(1.1)
    }
.ul--linktext {
    color: #9C9C9C;
    font-weight: bold;
    font-size: 10px
    }
.ul--stampsimg {
    content: url(https://images.neopets.com/items/sta_cybunny_cycle.gif)
    }
.ul--tradesimg {
    content: url(https://images.neopets.com/items/toy_cybunny_rosequartz.gif)
    }
.ul--auctionsimg {
    content: url(https://images.neopets.com/items/foo_chamomille_tea_cybunny.gif)
    }
.ul--wishlistimg {
    content: url(https://images.neopets.com/items/pot_pastel_cybunny_morph.gif)
    }
.ul--scoresimg {
    content: url(https://images.neopets.com/items/plu_cybunny_jelly.gif)
    }
.ul--neomailimg {
    content: url(https://images.neopets.com/items/can_spring_cybunny_canbox.gif)
    }
.ul--neofriendimg {
    background-image: url(https://images.neopets.com/items/sch_pinkcybunnyerasers.gif);
    background-repeat: no-repeat;
    background-position: center;
    object-position: -9999px
    }
.ul__neofriend .nomargin {
    height: 80px !important;
    width: 80px !important
    }
#userLookupPets .ul--petsheader:first-child {
    display: none
    }
.ul--petsheader, .ul--petsheader strong {
    text-align: center;
    text-transform: none;
    justify-content: center;
    color: #68EF91;
    font-family: "Poetsen One", sans-serif;
    font-weight: normal !important;
    font-size: 24px
    }
#userPetList {
    width: 670px;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0
    }
.ul--petname {
    font-family: "Poetsen One", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #8EB8FF
    }
.ul--petname:hover {
    color: #E6CEF4
    }
.ul__pet {
    padding: auto
    }
.ul__pet img {
    width: 130px;
    height: 130px;
    opacity: 1
    }
.ul__pet img:hover {
    opacity: 0.4;
    filter: none
    }
#userLookupSiteTrophies .ul--sitetrophiesheader:first-child, #userLookupGameTrophies .ul--gametrophiesheader:first-child {
    display: none
    }
#siteTrophiesList img, #gameTrophiesList img {
    width: 80px
    }
.ul__sitetrophy, .ul__gametrophy {
    width: 100px
    }
.ul--sitetrophyname, .ul--sitetrophyname a, .ul--sitetrophycap, .ul--gametrophyname {
    font-size: 10px
    }
#siteTrophiesList, #siteTrophiesList a, #gameTrophiesList {
    color: #9C9C9C
    }
#siteTrophiesList img, #gameTrophiesList img {
    width: 80px;
    }
#siteTrophiesList {
    background-color: #fff;
    color: #9C9C9C;
    font-size: 10px;
    border-radius: 10px;
    width: 660px;
    padding: 10px
    }
.ul--sitetrophyname, .ul--sitetrophyname a, .ul--sitetrophycap, .ul--gametrophyname {
    font-size: 10px
    }
#gameTrophiesList {
    background-color: #fff;
    color: #9C9C9C;
    font-size: 10px;
    border-radius: 10px;
    width: 660px;
    padding: 10px;
    margin-bottom: -60px
    }
#userReportBlock {
    bottom: 0;
    margin-bottom: 5px;
    text-align: center;
    width: 680px
    }
.ul--button {
    color: #fff
    }
#nav {
    font-family: "Poetsen One", sans-serif;
    font-size: 20px !important;
    font-weight: normal;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    width: 150px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around
    }
#nav a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    transition: all 1s ease
    }
#nav a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff
    }
