@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
body {
    background: #FF72FF;
    background-image: url(https://images2.imgbox.com/a1/5a/1mPG4UJU_o.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    scrollbar-width: none
    }
@media screen and (max-width: 959px) {
body {
    background-image: url(https://images2.imgbox.com/a8/f5/DaChjHRE_o.jpg);
    background-position: top left;
        }
    }
html {
    scrollbar-width: none
    }
#sb_side, #sb_top, #sb_bottom, #aio_sidebar_placeholder, #page_banner, #page_event, #page_footer, hr {
    display: none
    }
#page_content {
    margin: auto;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0
    }
#userLookupContent {
    width: 680px;
    margin-top: 150px;
    align-items: center;
    justify-content: center
    }
.ul--header {
    font-size: 0;
    right: 0;
    left: 0;
    margin-top: -130px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 475px;
    content: url(https://images2.imgbox.com/c1/57/QBwBb519_o.png)
    }
#userLookupDesc {
    background-color: #fff;
    box-shadow: 0 1px 20px 0 #fff;
    color: #67A6F1;
    font-size: 12px;
    border-radius: 10px;
    width: 660px;
    padding: 10px;
    margin-top: 100px
    }
#userLookupDesc a {
    color: #FF84FF;
    font-family: "Titan One", sans-serif;
    font-size: 24px;
    font-weight: normal
    }
#userLookupDesc a:hover, #userLookupInfo a:hover {
    color: #94C0F5
    }
#userLookupInfo {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    background-image: url(https://images2.imgbox.com/af/a8/7lROQFjv_o.gif);
    background-repeat: no-repeat;
    background-position: bottom right 90px;
    color: #67A6F1;
    font-size: 12px;
    width: 660px;
    border-radius: 10px;
    padding: 10px
    }
#userLookupInfo a {
    color: #FF84FF;
    font-size: 16px;
    font-family: "Titan One", sans-serif;
    letter-spacing: 0.1em
    }
#userLookupText {
    margin-top: 0;
    margin-left: 10px;
    width: 400px
    }
.galleries--list .nomargin {
    height: 0
    }
#userLookupShield {
    display: none
    }
#userLookupShield img {
    display: none
    }
#userLookupCollections {
    flex-direction: column;
    height: auto
    }
.ul__collection, .ul__avatars {
    width: 50px
    }
.ul--collectionslabel {
    display: none
    }
#userLookupCollections img {
    width: 50px
    }
.ul--avatarstext, .ul--stampstext {
    font-size: 10px
    }
.ul--guilds {
    margin-left: 320px;
    margin-top: -239px;
    margin-bottom: 140px;
    width: 340px
    }
#userLookupLinks {
    width: 660px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 #fff;
    border-radius: 10px;
    padding: 10px
    }
.ul__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 10px
    }
#userLookupLinks img, .ul--neofriendimg {
    width: 80px;
    height: 80px;
    mix-blend-mode: multiply;
    transform: scale(1);
    transition: all 1s ease
    }
#userLookupLinks img:hover, .ul--neofriendimg:hover {
    opacity: 0.4;
    transform: scale(1.1)
    }
.ul--linktext {
    color: #67A6F1;
    font-weight: bold;
    font-size: 10px
    }
.ul--stampsimg {
    content: url(https://images.neopets.com/items/stamp_25thanni_shoyru.gif)
    }
.ul--tradesimg {
    content: url(https://images2.imgbox.com/1a/78/Cko5nYo7_o.gif)
    }
.ul--auctionsimg {
    content: url(https://images2.imgbox.com/c0/9f/TmHqb3Ge_o.gif)
    }
.ul--wishlistimg {
    content: url(https://images2.imgbox.com/a1/6c/Ksbu5Zzi_o.gif)
    }
.ul--scoresimg {
    content: url(https://images2.imgbox.com/44/72/yUzTdoqL_o.gif)
    }
.ul--neomailimg {
    content: url(https://images2.imgbox.com/59/47/9avBzynJ_o.gif)
    }
.ul--neofriendimg {
    background-image: url(https://images2.imgbox.com/a5/68/MljzzLoY_o.gif);
    background-repeat: no-repeat;
    background-position: center;
    object-position: -9999px
    }
.ul__neofriend .nomargin {
    height: 80px !important;
    width: 80px !important
    }
#userLookupPets .ul--petsheader:first-child {
    display: none
    }
.ul--petsheader, .ul--petsheader strong {
    text-align: center;
    text-transform: none;
    justify-content: center;
    color: #FF84FF;
    font-family: "Titan One", sans-serif;
    font-weight: normal !important;
    font-size: 24px
    }
#userPetList {
    width: 670px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 #fff;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0
    }
.ul--petname {
    font-family: "Titan One", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #67A6F1;
    transition: all 1s ease
    }
.ul--petname:hover {
    color: #FF84FF
    }
.ul__pet {
    padding: auto
    }
.ul__pet img {
    width: 130px;
    height: 130px;
    opacity: 1;
    transition: all 1s ease
    }
.ul__pet img:hover {
    opacity: 0.4;
    filter: none
    }
#userLookupSiteTrophies .ul--sitetrophiesheader:first-child, #userLookupGameTrophies .ul--gametrophiesheader:first-child {
    display: none
    }
#siteTrophiesList img, #gameTrophiesList img {
    width: 80px
    }
.ul__sitetrophy, .ul__gametrophy {
    width: 100px
    }
.ul--sitetrophyname, .ul--sitetrophyname a, .ul--sitetrophycap, .ul--gametrophyname {
    font-size: 10px
    }
#siteTrophiesList, #siteTrophiesList a, #gameTrophiesList {
    color: #94C0F5
    }
#siteTrophiesList img, #gameTrophiesList img {
    filter: hue-rotate(180deg);
    width: 80px
    }
#siteTrophiesList {
    background-color: #fff;
        box-shadow: 0 1px 20px 0 #fff;
    color: #94C0F5;
    font-size: 10px;
    border-radius: 10px;
    width: 660px;
    padding: 10px
    }
.ul--sitetrophyname, .ul--sitetrophyname a, .ul--sitetrophycap, .ul--gametrophyname {
    font-size: 10px
    }
#gameTrophiesList {
    background-color: #fff;
    box-shadow: 0 1px 20px 0 #fff;
    color: #94C0F5;
    font-size: 10px;
    border-radius: 10px;
    width: 660px;
    padding: 10px;
    margin-bottom: -60px
    }
#userReportBlock {
    bottom: 0;
    margin-bottom: 5px;
    text-align: center;
    width: 680px
    }
.ul--button {
    color: #fff
    }
#nav {
    font-family: "Poetsen One", serif;
    font-size: 20px;
    font-weight: normal;
    color: #FFCEFF;
    top: 0;
    left: 0;
    position: fixed;
    width: 150px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around
    }
#nav a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    transition: all 1s ease
    }
#nav a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff
    }
.starbuck {
    float: left
    }
.starbuck img {
    width: 150px
    }
.down img {
    margin-top: 3px
    }
